.pets {
    padding: 4vh;
}

.bc {
    padding: .5rem;
}

.img-wrapper {
    display: flex;
    padding: 1rem;

    .img {
        display: flex;
        flex   : 1 1 50% ;
        flex-direction: column;

        .PetBefAfImg {
            background     : no-repeat 50%;
            background-size: cover;
            height         : 15rem;
            width          : 100%;
            position       : relative;
        }
    }
}