.pets {
    padding: 4vh;
}

.pet-edit {
    padding: 4vh;
}


.bc {
    padding: .5rem;
}

.img-wrapper {
    display: flex;
    padding: 1rem 0;

    .img {
        display       : flex;
        flex          : 1 1 50%;
        flex-direction: column;

        .PetBefAfImg {
            background     : no-repeat 50%;
            background-size: contain;
            height         : 15rem;
            width          : 100%;
            position       : relative;
        }
    }
}